*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin: 30px ; */
    padding:10px;
    background-color: rgb(190, 190, 190);
    
}
.container-h{
    width: 90%;
    margin: 1% auto;
    font-family: 'Playfair Display', serif;
    height: 80px;
    background-color: transparent;
    position: relative;
}
.container-2{
    width: 100%;
    margin: 1% 0;
    
    font-family: 'Playfair Display', serif;
    padding: 1%;
    
   
}



.logo{
    float: left;
    margin:1% ;
    
    
    
}
.logo img{
    width: 60px;
    height: 60px;
}

.navbuttons{
    
    position: absolute;
    top: 40%;
    right: 6%;
   
   
}
.navbuttons a{
    /* background:rgb(2, 70, 63); */
    color: rgb(255, 255, 255);
    /* border-radius: 5px; */
    font-size: 13px;
    font-weight: 700;
    text-shadow: blanchedalmond;
    border-radius: 8px;
    /* background-color: tomato; */
    /* border: rgb(0, 255, 0) solid 2px; */
    
    
}
.navbar-icon{
    font-size: 23px;
    /* position: absolute;
    top: 10%; */
   /* padding-top: 5px; */ 

    
    color: rgb(0, 0, 0);
    /* background-color: rgb(128, 255, 0); */
}

.navbuttons ul{

    list-style: none;
}


.navbuttons li{
    display: inline;
    font-size: small;
    padding: 3px;  
    font-weight: 30px;
}



.topic{
    float: left;
    margin:1% ;
    margin-top: 3%;
}
.navbuttons a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all 0.5s ease-in-out;
    padding: 6px;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
}
.navbuttons a:hover{
    /* color: #001F3F; */
    /* background-color: rgb(226, 151, 12); */
    border-bottom: chartreuse 3px solid;
    box-shadow: 1px 1px 2px black;
}
.navbuttons a:active{
    /* color: #001F3F; */
    background-color: rgb(105, 0, 0);
    border: rgb(128, 255, 0) 2px solid;
    box-shadow: 1px 1px 2px black;
}
.navbuttons a:visited{
    border: rgb(129, 255, 3) 2px solid;
    box-shadow: 1px 1px 2px black;
}
.spand-btn-nav{
    background-color: transparent;
    border: none;
}
.material-icons.l{
    color: rgb(255, 38, 38);
    font-size: 24px;
    position: absolute;
    right: 10px;
    top: 3px;
   
}
.material-icons.l:hover{
    color: rgb(107, 10, 10);
}
@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px rgb(38, 6, 124), 0 0 30px #4dff97, 0 0 40px #5a1538, 0 0 50px #4d6eff, 0 0 60px #4dffe1, 0 0 70px #dab6c8, 0 0 80px #4dff9d;
    }
  }
.ani-text{
    
    color: rgb(255, 255, 255);
    animation: glow 0.5s ease-in-out infinite alternate;
    
}
.header{
    background-image: url(head.jpg);
    transition: ease 0.4s;
    background-size: cover;
    background-position: right; 
    background-repeat: no-repeat;
    box-shadow: 0 0 3px rgb(20, 0, 0);
}
.mob-nav{
    all: unset;
    display: none;
    position: absolute;
    right: 20px;
    width: 60%;
    margin-top: 14%;
    top: 30px;
    
}
.mob-nav li{
    
    width: 100%;
    display: block;
    background-color: turquoise;
    margin: 1%;
    cursor: pointer;
    padding: 1%;
    
}
.mob-nav a{
    all:unset;
    width: 100%;
    text-align: center;
    
   
}
.mob-nav a:hover{
    all: unset;
    
}
.mob-nav li:hover{
  border: tomato 1px solid;  
  transition: ease 1s;
}
.mob-nav h1{
    bottom: 50%;
    border: springgreen 2px solid;
}
.mob-menu{
    position: absolute;
    top:17px;
    right: 20px;
    display: none;
}
.mob-menu button{
    position: absolute;
    right: 1%;
    
}






.heading{
    width: 50%;
    padding-bottom: 20px;
}
.heading h3{
    font-weight: bolder;
    border-bottom: 2px solid gray;
    font-size: 35px;
}
.heading h3 span{
    font-weight: 100;
   
}
.box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.content{
    display: flex;
    flex-direction: column;
    width: 32%;
}
.content img{
    width: 100%;
    padding-bottom: 15px;
    border-radius: 7px;
}

@media screen and (max-width: 800px){

    .box{
        flex-direction: column;
    }
    .content{
        width: 100%;
    }
    
}

.Social,.footer{
    background-image: url(head.jpg);
    transition: ease 0.4s;
    background-size: cover;
    background-position: right; 
    background-repeat: no-repeat;
    box-shadow: 0 0 3px rgb(20, 0, 0);
}
.text-color-white{
    font-family: 'Patrick Hand';
    color: whitesmoke;
    text-shadow: 1px 1px 5px black;
}
.Social img:hover{
    opacity: 0.7;
    transform: scale(1.25);
    transition: transform .25s ease;
}
.Social img:active{
    opacity: 1;
}
.img-trans{
    transition: ease 0.5s;
}
.center {
    
    text-align: center;
 }
 .center li{
     display: inline;
     padding: 4%;
     
     
 }
 .center ul{
    
    list-style: none;
}


@media screen and (max-width:846px) {

    .container-h{
        width: 100%;
    } 
    .navbuttons{
        display: none;
    } 
    .mob-nav{
        display: inline-block;
       
    }
    .topic{
        margin-top: 5%;
        margin-left: 5%;
    }
    .mob-nav ul{
        display: none;
    }
    .logo{
        display: none;
    }
    .mob-menu{
        display: block;
    }
    .container-2{
        height: 160px;
    }
    
    
}


























